.dice {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}

.die__face {
    height: 3rem;
    width: 3rem;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.dice__pattern {
    height: 100%;
    padding: 0.25rem;
    display: grid;
    align-items: center;
    justify-items: center;
    grid:
        "a b c" 1fr
        "d e f" 1fr
        "g h i" 1fr / 1fr 1fr 1fr;
}

.die__dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--orange);
}
.die__dot--1 {
    grid-area: a;
}
.die__dot--2 {
    grid-area: b;
}
.die__dot--3 {
    grid-area: c;
}
.die__dot--4 {
    grid-area: d;
}
.die__dot--5 {
    grid-area: e;
}
.die__dot--6 {
    grid-area: f;
}
.die__dot--7 {
    grid-area: g;
}
.die__dot--8 {
    grid-area: h;
}
.die__dot--9 {
    grid-area: i;
}
