.main {
    background-color: var(--light);
    height: 25rem;
    border-radius: 8px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.darkMain {
    background-color: var(--dark);
    height: 25rem;
    border-radius: 15px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dark-mode {
    position: absolute;
    top: 1rem;
    line-height: 1;
    right: 1rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.3em;
    color: var(--black);
}

.light-mode {
    position: absolute;
    top: 1rem;
    line-height: 1;
    right: 1rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.3em;
    color: var(--white);
}

.title {
    color: var(--black);
    margin-bottom: 1.2rem;
    font-size: 1.8em;
}

.darkTitle {
    color: var(--white);
    margin-bottom: 1.2rem;
    font-size: 1.8em;
}

.instructions {
    max-width: 22rem;
    text-align: center;
    color: var(--black);
    margin-bottom: 2rem;
}

.darkInstructions {
    max-width: 22rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 2rem;
}

.roll {
    border: none;
    padding: 1rem 3.5rem;
    cursor: pointer;
    background-color: var(--orange);
    font-size: 1.3em;
    border-radius: 20px;
    color: var(--black);
    display: block;
}

.darkRoll {
    border: none;
    padding: 1rem 3.5rem;
    cursor: pointer;
    background-color: var(--orange);
    font-size: 1.3em;
    border-radius: 20px;
    color: var(--white);
}

.roll:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.5);
}

.darkRoll:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.5);
}

.roll:focus {
    outline: none;
}

.darkRoll:focus {
    outline: none;
}

.buttonAside {
    display: grid;
    align-items: center;
    justify-items: center;
    grid: 1fr / 1fr;
    gap: 1.2rem 0;
}

.darkButtonAside {
    display: grid;
    align-items: center;
    justify-items: center;
    grid: 1fr / 1fr;
    gap: 1.2rem 0;
    color: var(--white);
}

.stats {
    display: flex;
    flex-direction: column;
}

.numRolls__number {
    position: absolute;
    padding-left: 5px;
}
.darkNumRolls {
    color: var(--white);
}

.darkNumRolls__number {
    color: var(--white);
}
